{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1% in CN",
            "iOS 7",
            "Android >= 4.4",
            "safari 7"
          ]
        }
      }
    ]
  ]
}